@charset "utf-8";

body {
  font-family: "Jeju Hallasan", cursive;
}

h3 {
  text-align: center;
  font-size: 50px;
  color: #603913;
  padding: 50px 0;
  line-height: 1.5;
}

#container {
  overflow: hidden;
}

.play_wrap {
  width: 1200px;
  max-width: 100%;
  padding: 100px;
  border: 3px solid #603913;
  margin: 0 auto 30px;
  display: flex;
  background: darkgreen;
  justify-content: center;
}

.play_wrap > div {
  width: 25%;
  height: 470px;
  background-image: url(images/front.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

button {
  display: block;
  width: 250px;
  height: 50px;
  border: 3px solid #603913;
  background: #c37e39;
  font-size: 20px;
  color: #603913;
  margin: 0 auto;
  cursor: pointer;
}

.play_wrap > div.active {
  background-image: url(images/back.png);
}

.play_wrap > div.yut04.active {
  background-image: url(images/back2.png);
}
.play_wrap > div.yut04.on.nak {
  position: relative;
  left: 200px;
  animation: nak 0.9s;
  transform: translate(0px, 0px) rotateZ(33deg);
}

@keyframes nak {
  from {
    transform: translate(0px, 0px) rotateZ(0deg) rotateY(0deg);
  }
  to {
    transform: translate(0, 0px) rotateZ(33deg) rotateY(-360deg);
  }
}

.play_wrap > div.yut04.nak::after {
  content: url(images/double.png);
  position: absolute;
  top: -50px;
  left: -120px;
}

.play_wrap .yut01.on {
  animation: move1 0.9s;
  transform: translate(81px, 68px) rotateZ(-63deg);
}

.play_wrap .yut02.on {
  animation: move2 0.9s;
  transform: translate(80px, -60px) rotateZ(47deg);
}

.play_wrap .yut03.on {
  animation: move3 0.9s;
  transform: translate(-61px, -10px) rotateZ(-47deg);
}

.play_wrap .yut04.on {
  animation: move4 0.9s;
  transform: translate(0px, 0px) rotateZ(33deg);
}

@keyframes move1 {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg) rotateY(0deg);
  }

  100% {
    transform: translate(81px, 68px) rotateZ(-63deg) rotateY(360deg);
  }
}

@keyframes move2 {
  from {
    transform: translate(0px, 0px) rotateZ(0deg) rotateY(0deg);
  }
  to {
    transform: translate(80px, -60px) rotateZ(47deg) rotateY(-360deg);
  }
}

@keyframes move3 {
  from {
    transform: translate(0px, 0px) rotateZ(0deg) rotateY(0deg);
  }
  to {
    transform: translate(-61px, -10px) rotateZ(-47deg) rotateY(360deg);
  }
}

@keyframes move4 {
  from {
    transform: translate(0px, 0px) rotateZ(0deg) rotateY(0deg);
  }
  to {
    transform: translate(0px, 0px) rotateZ(33deg) rotateY(-360deg);
  }
}

.result_wrap {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

.result_wrap.on {
  display: flex;
}

.result {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
  background: #fff;
  max-width: 500px;
  width: calc(100% - 40px);
  max-height: 300px;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  font-size: 50px;
  color: #603913;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 30px;
  flex-wrap: wrap;
}

.result .txt {
  width: 100%;
}

.result > button {
  width: 100px;
  height: 50px;
}

.btn_more {
  display: none;
}

@media (max-width: 1199px) {
  .play_wrap {
    width: calc(100% - 40px);
    padding: 50px;
    margin: 20px auto;
  }

  .play_wrap > div.yut04.on.nak {
    position: relative;
    left: 0;
    animation: nak 0.9s;
    transform: translate(-61px, -143px) rotateZ(35deg);
  }

  .play_wrap > div.yut04.nak::after {
    top: 94px;
    left: -203px;
    transform: rotateZ(-31deg);
  }

  @keyframes nak {
    from {
      transform: translate(0px, 0px) rotateZ(0deg) rotateY(0deg);
    }
    to {
      transform: translate(-61px, -143px) rotateZ(35deg) rotateY(-360deg);
    }
  }

  .play_wrap .yut01.on {
    animation: move1 0.9s;
    transform: translate(110px, 125px) rotateZ(-63deg);
  }

  .play_wrap .yut02.on {
    animation: move2 0.9s;
    transform: translate(42px, -62px) rotateZ(47deg);
  }

  .play_wrap .yut03.on {
    animation: move3 0.9s;
    transform: translate(-61px, -10px) rotateZ(-47deg);
  }

  .play_wrap .yut04.on {
    animation: move4 0.9s;
    transform: translate(-62px, 31px) rotateZ(43deg);
  }

  @keyframes move1 {
    0% {
      transform: translate(0px, 0px) rotateZ(0deg) rotateY(0deg);
    }

    100% {
      transform: translate(110px, 125px) rotateZ(-63deg) rotateY(360deg);
    }
  }

  @keyframes move2 {
    from {
      transform: translate(0px, 0px) rotateZ(0deg) rotateY(0deg);
    }
    to {
      transform: translate(42px, -62px) rotateZ(47deg) rotateY(-360deg);
    }
  }

  @keyframes move3 {
    from {
      transform: translate(0px, 0px) rotateZ(0deg) rotateY(0deg);
    }
    to {
      transform: translate(-61px, -10px) rotateZ(-47deg) rotateY(360deg);
    }
  }

  @keyframes move4 {
    from {
      transform: translate(0px, 0px) rotateZ(0deg) rotateY(0deg);
    }
    to {
      transform: translate(-62px, 31px) rotateZ(43deg) rotateY(-360deg);
    }
  }
}

@media (max-width: 767px) {
  .play_wrap > div.yut04.on.nak {
    transform: translate(-42px, -3px) rotateZ(35deg);
  }

  @keyframes nak {
    from {
      transform: translate(0px, 0px) rotateZ(0deg) rotateY(0deg);
    }
    to {
      transform: translate(-42px, -3px) rotateZ(35deg) rotateY(-360deg);
    }
  }
  .play_wrap .yut01.on {
    animation: move1 0.9s;
    transform: translate(76px, 85px) rotateZ(-63deg);
  }

  .play_wrap .yut02.on {
    animation: move2 0.9s;
    transform: translate(42px, -62px) rotateZ(47deg);
  }

  .play_wrap .yut03.on {
    animation: move3 0.9s;
    transform: translate(-61px, -10px) rotateZ(-47deg);
  }

  .play_wrap .yut04.on {
    animation: move4 0.9s;
    transform: translate(-26px, 25px) rotateZ(36deg);
  }

  @keyframes move1 {
    0% {
      transform: translate(0px, 0px) rotateZ(0deg) rotateY(0deg);
    }

    100% {
      transform: translate(76px, 85px) rotateZ(-63deg) rotateY(360deg);
    }
  }

  @keyframes move2 {
    from {
      transform: translate(0px, 0px) rotateZ(0deg) rotateY(0deg);
    }
    to {
      transform: translate(42px, -62px) rotateZ(47deg) rotateY(-360deg);
    }
  }

  @keyframes move3 {
    from {
      transform: translate(0px, 0px) rotateZ(0deg) rotateY(0deg);
    }
    to {
      transform: translate(-61px, -10px) rotateZ(-47deg) rotateY(360deg);
    }
  }

  @keyframes move4 {
    from {
      transform: translate(0px, 0px) rotateZ(0deg) rotateY(0deg);
    }
    to {
      transform: translate(-26px, 25px) rotateZ(36deg) rotateY(-360deg);
    }
  }
}

@media (max-width: 700px) {
  h3 {
    font-size: 30px;
    padding: 30px 0;
  }
  .play_wrap {
    padding: 20px;
  }

  .play_wrap > div {
    height: 300px;
  }

  .play_wrap > div.yut04.nak {
    top: -112px;
  }

  .play_wrap > div.yut04.nak::after {
    transform: scale(0.7) rotateZ(-31deg);
    top: 61px;
  }
}
